.page {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 4rem;
    width: calc(100vw - 8rem);
    min-height: calc(100vh - 8rem);
    box-sizing: border-box;
    justify-content:end;
    border-radius: 1rem;
}

.content{

}
